footer {
  padding-top: 0;
  color: $primary-text-white;
  background: url("../img/map.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 90vh;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark-background-overlay;
    z-index: -2;
  }

  .container {
    height: 100%;
    z-index: 3;
    display: flex;
    // justify-content: flex-end;


    .flex-wrapper {
      width: 100%;
      height: fit-content;
      background: #537d91;
      padding: 2rem .5rem;
      box-shadow: 5px 20px 30px #537d91;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      justify-content: center;

      h2 {
        text-align: center;
      }
    }

    .flex-item {
      width: 100%;
      display: flex;
      padding: 2rem 0 0 1rem;

      i {
        margin-right: .5rem;
      }

      a {
        color: white;
        text-decoration: none;
      }

    }
  }

  .copyright {
    background-color: black;


    .container {
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        padding-right: 1rem;
      }

      .social-pos {}
    }


  }
}