#main-menu {
    padding: 2rem 0;
    background: $primary-color;
    border-bottom: 1px dotted $primary-background;
    transform: translateY(-300px);
    animation: main-dropdown ease-out 0.7s forwards;

    .container {
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                position: relative;
                border-bottom: 1px dotted $background-overlay;

                ul {
                    flex-direction: column;
                    background: $primary-color;
                    z-index: 3;
                    padding-left: 1rem;
                    transform: translateX(-300px);
                    animation: dropdown ease-out 0.6s forwards;

                    li {
                        padding-left: .5rem;
                    }
                }

                @keyframes dropdown {
                    to {
                        transform: translateX(0);
                    }
                }

                a {
                    padding: .5rem 0;
                    display: flex;
                    justify-content: space-between;
                    text-decoration: none;
                    color: $background-overlay;
                }

                a:hover {
                    color: $primary-text-white;
                    transition: $transition-ease-in-2;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }
    }
}

@keyframes main-dropdown {
    to {
        transform: translateY(0);
    }
}

header {
    background: $primary-color;

    .container {

        nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .logo {
                width: 20%;

                img {
                    width: 80px;
                }
            }

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                li {
                    border-bottom: 1px dotted $background-overlay;

                    a {
                        padding: .5rem 0;
                        display: flex;
                        justify-content: space-between;
                        text-decoration: none;
                        color: $background-overlay;
                    }

                    a:hover {
                        color: $primary-text-white;
                        transition: $transition-ease-in-2;
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }

            #menu-icon {
                color: $primary-text-white;
            }
        }
    }
}